# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory


# Ignore IntelliJ IDEA project-specific settings directory
.idea/

# Ignore Android Studio project-specific settings directory
*.iml

build
# Ignore the Visual Studio Code workspace directory
.vscode/

# Ignore local.properties file
bin/
local.properties
.DS_Store
