# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IntelliJ IDEA project-specific settings directory
.idea/
!quail/build/docs/javadoc
# Ignore Android Studio project-specific settings directory
*.iml

# Ignore the Visual Studio Code workspace directory
.vscode/

# Ignore local.properties file
local.properties
*.DS_Store